@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.menu{
    position: fixed;;
    top:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    width: 100%;
    height: 120px;
    z-index: 999;

    .logo{
        order: 1;
        text-align: left;
        width: 100px;
        cursor: pointer;
        justify-self: space-around;
        margin-left: 5%;
    }

    &__list{
        order: 2;
        text-transform: uppercase;
        display: flex;
        margin: 0 auto;
        .menu__item{
            margin: 0 30px;
            font-weight: 500;
            .menu__link{
                color: #000;
                position: relative;

                &:after{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #DFEEF7;
                    width: 100%;
                    height: 0;
                    transition: .1s linear;
                }
                &:hover:after{
                    height: 45%;
                }
            }
        }
    }
}
@media(max-width:1024px){
    .logo{
    position: absolute;
    left:5%;
    }

.menu__list{
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size:24px;
    visibility: hidden;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: #D6D9FC;
        transform-origin: 0 0;
        transform: skew(-15deg) translateX(-120%);
        z-index: -1;
        transition: 0.5s linear;
}
&--active{
    opacity: 1;
    visibility: visible;
}
.menu__item{
    margin: 12px 30px;
    opacity: 0;
}
.menu__item:nth-of-type(1){
    transform: translateX(-120vw);
    transition: 0.5s linear;
}
.menu__item:nth-of-type(2){
    transform: translateX(-130vw);
    transition: 0.5s linear;
}
.menu__item:nth-of-type(3){
    transform: translateX(-140vw);
    transition: 0.5s linear;
}
.menu__item:nth-of-type(4){
    transform: translateX(-150vw);
    transition: 0.5s linear;
}
}
.hamburger{
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 10%;
}
    .hamburger__container{
        display: flex;
        align-items: center;
        position: relative;
        width: 35px;
        height: 30px;
    }
        .hamburger__bars {
            position: absolute;
            width: 35px;
            height: 4px;
            background-color: #000;
            border-radius: 8px;
            transition: transform 220ms ease-in-out;
            &:before, &:after {
                display: block;
                position: absolute;
                width: 35px;
                height: 4px;
                border-radius: 8px;
                background-color: #000;
                content: '';
                transition: 220ms;
    }
    &:before {
        transform: translateY(-10px);
    }
    &:after {
        transform: translateY(10px);
    }
}
.hamburger--active {
    .hamburger__bars {
        transform: rotate(225deg);
        &:before {
            transform: translateY(0);
        }
        &:after {
            transform: translateY(0);
            transform: rotate(-90deg);
        }
    }
}
.hamburger, .hamburger__container {
    &:focus {
      	outline: none;
  	}
}
.menu__list--active.menu__list::before{
    transform: skew(-15deg) translateX(0);
    transition: 0.5s linear;
}
}
@media(max-width:442px){
    .menu__list{
        width: 105%;
    }
}
.menu__list--active{
    .menu__item{
        opacity: 1;
        .menu__link{
        &:after{
            background: #fff952;
        }
    }
    }
    .menu__item:nth-of-type(1){
        transform: translateX(20vw);
    }
    .menu__item:nth-of-type(2){
        transform: translateX(15vw);
    }
    .menu__item:nth-of-type(3){
        transform: translateX(10vw);
    }
    .menu__item:nth-of-type(4){
        transform: translateX(5vw);
    }
}
@media(max-width:442px){
    .menu__list--active{
    .menu__item:nth-of-type(1){
        transform: translateX(19vw);
    }
    .menu__item:nth-of-type(2){
        transform: translateX(10vw);
    }
    .menu__item:nth-of-type(3){
        transform: translateX(8vw);
    }
    .menu__item:nth-of-type(4){
        transform: translateX(1vw);
    }
}
}
.wrapper{
    margin-top: 120px;
}
.hero{
    min-height: 550px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #f8f8f8;

    &__description{
        max-width: 40%;

        .hero__header{
            font-size: 40px;
            margin-bottom: 12px;
            line-height: 44px;
        }
        .hero__text{
            font-size: 20px;
            line-height: 32px;
        }
    }
    &__ilustration{
        flex-basis: 40%;
    }
}
@media(max-width:1024px) {
    .hero{
        flex-direction: column;
        &__description{
            max-width: 85%;
        }
    }
}
@media(max-width:480px){
    .hero__ilustration{
        display: flex;
        justify-content: center;

    .hero__img{
        width: 85%;
    }
}
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height:600px;
    &__header{
        align-self:center;
        font-size: 44px;
    }
    &__items{
        display: flex;
        justify-content: space-around;

        .services__item{
            display: flex;
            width: 320px;
            height: 150px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .services__image{

            }
            .services__text{
                text-align: center;
                width: 75%;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 25px;
            }
        }
    }


}
@media(max-width:768px){
    .services__header{
        font-size: 40px;
        text-align: center;
    }
    .services__items{
        flex-direction: column;
        align-items: center;
    }
}
.projects{
    display: flex;
    flex-direction: column;
    min-height: 600px;
    justify-content: space-around;
    background: #f8f8f8;


    &__header{
        align-self: center;
        font-size: 44px;
        margin: 5% 0 8% 0;
    }
    &__container{
        display: grid;
        grid-template-rows:450px;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .projects__item--dandelion{
            background: url(src/assets/image/Dandelion.png) top center;
        }
        .projects__item--rms{
            background: url(src/assets/image/rmskm.png) top center;
        }
        .projects__item--challange{
            background: url(src/assets/image/Challenge37.png) top center;
        }
        .projects__item--portfolio{
            background: url(src/assets/image/portfolio-site.png) top center;
        }
        .projects__item{
            position: relative;
            background-repeat: no-repeat;
            background-size: 100%;
            transition: background-size 0.3s linear;
        }
        .projects__item:hover{
            background-size: 85%;;
        }
    }
    &__btn{
        position: relative;
        width: 170px;
        height: 45px;
        line-height: 45px;
        border:1px solid black;
        color: black;
        align-self: center;
        text-align: center;
        margin: 7% 0;
        font-size: 16px;
        font-weight: 600;
        z-index: 1;

    }
    .projects__btn:before{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        width: 168px;
        height: 43px;
        background: #DFEEF7;
        transition: 0.2s linear;
    }
    .projects__btn:hover:before {
        transform: translate3d(10px, 10px,0);
    }
}
@media(max-width:768px){
    .projects__header{
        font-size: 40px;
        text-align: center;
    }
}
@media(max-width:1024px){
    .projects__container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px;
}
}
@media(max-width:480px){
    .projects__container{
        grid-template-columns: 1fr;
        grid-template-rows: 300px 300px 300px 300px;
}
}
footer{
    height: 200px;
}